{% assign html = include.html %}
{% assign min_level = include.min_level | default: 2 %}
{% assign max_level = include.max_level | default: 3 %}
{% assign class = include.class | default: 'toc' %}

{% capture toc %}
<nav class="{{ class }}">
  <ul>
    {% assign last_level = min_level | minus: 1 %}
    {% assign nodes = html | split: '<h' %}
    {% for node in nodes %}
      {% if node == empty %}
        {% continue %}
      {% endif %}
      {% assign level = node | slice: 0, 1 | plus: 0 %}
      {% if level < min_level or level > max_level %}
        {% continue %}
      {% endif %}
      {% assign id = node | split: 'id="' | shift | split: '"' | first %}
      {% assign title = node | split: '</h' | first | split: '>' | shift | first | strip_html | strip %}
      {% if level > last_level %}
        {% for i in (last_level..level) %}
          <ul>
        {% endfor %}
      {% elsif level < last_level %}
        {% for i in (level..last_level) %}
          </ul>
        {% endfor %}
      {% endif %}
      <li><a href="#{{ id }}">{{ title }}</a></li>
      {% assign last_level = level %}
    {% endfor %}
    {% for i in (min_level..last_level) %}
      </ul>
    {% endfor %}
  </ul>
</nav>
{% endcapture %}

{{ toc | strip_newlines }} 